@mixin bp($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

$c-white: #f4f7ff;
$c-manatee: #5e738c;
$c-bazaar: #997976;
$c-ebony-clay: #24313F;
$c-polo-blue: #91B6D8;

$c-text: $c-ebony-clay;
$bg-page: $c-manatee;
$bg-description: $c-bazaar;
$bg-episode-title: $c-ebony-clay;
$bg-content: $c-white;

$medium: 40em;
$large: 60em;
$xlarge: 80em;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "vista-sans", Verdana, sans-serif;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  color: $c-text;
  background-color: $bg-page;

  @include bp($medium) {
    font-size: 18px;
  }

  @include bp($large) {
    font-size: 22px;
  }
}

body {
  margin: 0;
  width: 100%;
}

.container {
  max-width: 40em;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 4px solid $c-polo-blue;
  transition: color .25s ease-in-out;
  transition: border-bottom-color .25s ease-in-out;

  &:hover,
  &:focus {
    color: #222;
    border-bottom-color: $c-bazaar;
  }

  .podcast-episode-title & {
    border-bottom: 0;

    &:hover,
    &:focus {
      color: currentColor;
    }
  }
}

.podcast-image {
  display: none;
}

// Logo
.podcast-title {
  border-bottom: 0;

  img {
    @include bp($large) {
      max-width: 600px;
    }
  }
}

.podcast-header {
  margin-bottom: 2.4rem;
  padding-left: 1.8rem;
  padding-right: 2.8rem;

  > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

// Main container
.podcast-main {
  position: relative;
  margin-top: 4.2rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  background-color: $bg-content;
}

.podcast-description {
  position: relative;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.4rem;
  padding: 2.4rem;
  padding-top: 0;
  color: $c-white;
  background-color: $bg-description;

  &:before {
    content: '';
    position: absolute;
    top: -2.4rem;
    left: 0;
    width: 100%;
    height: 2.4rem;
    background-color: $bg-description;
  }

  p {
    margin: 0;
  }
}

// RSS, Twitter, etc.
.podcast-nav {
  color: $c-white;

  ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
  }

  li + li {
    margin-left: 1em;
  }
}

.podcast-episode {
  position: relative;
  padding-bottom: 1.8rem;

  // Only on home page
  [id^="index"] & {
    margin-bottom: 4.2rem;
  }

  header {
    top: -2.4rem;
  }

  &:after {
    // Only on home page
    [id^="index"] & {
      position: absolute;
      top: 100%;
      left: -1.8rem;
      height: 4.2rem;
      width: 100vw;
      background-color: $bg-page;
      content: '';
    }
  }

  &-featured {
    &:before {
      position: absolute;
      bottom: 100%;
      left: -1.8rem;
      height: 4.2rem;
      width: 100vw;
      background-color: $bg-page;
      content: '';
    }
  }

  &-image {
    display: none;
  }

  header {
    position: relative;
    left: 50%;
    padding: 1.6rem;
    transform: translateX(-50%);
    color: $c-white;
    background-color: $bg-episode-title;

    @include bp($medium) {
      left: -6.4vw;
      transform: initial;
    }
  }

  &-title {
    margin-top: .4em;
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 700;
    font-feature-settings: "smcp" 1;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  &-player {
    margin-bottom: 1.8rem;
  }

  &-description {
    margin-top: -1rem;

    li {
      margin-bottom: .24em;
    }
  }
}

.podcast-episodes {
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.podcast-page-navigation {
  display: none;
}

.podcast-footer {
  padding: 1rem;
  font-size: .8rem;
  text-align: center;
  color: $c-white;
  background-color: $c-bazaar;

  .podcast-nav {
    display: none;
  }

  p {
    margin-bottom: 0;
  }
}

.podcast-host-avatar {
  display: inline-block;
  border-bottom: 0;
  width: 75px;
}

.podcast-host-name {
  margin: 0;
}

.podcast-hosts > h2 {
    font-feature-settings: "smcp" 1;
}

.podcast-simplecast-link {
  display: block;

  a {
    &:hover,
    &:focus {
      border-bottom-color: currentColor;
    }
  }
}

.fb_iframe_widget {
  max-width: 600px;
  padding: 10px;
  background: rgba(255,255,255,0.95);
  border-radius: 3px;
  margin: 0 auto;
  display: block !important
}

#disqus_thread {
  margin-bottom: 1.8rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

.simplecast-player {
  width: 100%;
  height: 36px;
  background: transparent;
  color: #fff;
  color: rgba(255,255,255,0.8)
}

.simplecast-player a {
  outline: 0;
  border-bottom: 0;
}

.simplecast-player .svg {
  display: block
}

.simplecast-player .svg path {
  fill: #fff !important
}

.jp-audio .jp-interface {
  display: table;
  height: 100%;
  width: 100%
}

.jp-audio .jp-interface .jp-gui-item {
  display: table-cell;
  vertical-align: top;
  height: 36px
}

.jp-audio .jp-interface .jp-play-controls {
  width: 20px
}

.jp-audio .jp-interface .jp-play-controls a {
  outline: 0;
  display: block;
  width: 20px;
  height: 36px;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left
}

.jp-audio .jp-interface .jp-play-controls a.jp-play,.jp-audio .jp-interface .jp-play-controls a.jp-pause {
  opacity: 0.8
}

.jp-audio .jp-interface .jp-play-controls a.jp-play img,.jp-audio .jp-interface .jp-play-controls a.jp-pause img {
  display: none
}

.jp-audio .jp-interface .jp-play-controls a.jp-play svg,.jp-audio .jp-interface .jp-play-controls a.jp-pause svg {
  margin-top: 7px;
  height: 20px;
  width: 20px
}

.jp-audio .jp-interface .jp-play-controls a.jp-play svg.svg,.jp-audio .jp-interface .jp-play-controls a.jp-pause svg.svg {
  display: inline-block
}

.jp-audio .jp-interface .jp-play-controls a.jp-play:hover,.jp-audio .jp-interface .jp-play-controls a.jp-pause:hover {
  opacity: 1
}

.jp-audio .jp-interface .jp-rewind {
  width: 16px
}

.jp-audio .jp-interface .main-player-rewind {
  margin-top: 13px;
  margin-left: 12px;
  display: block;
  height: 12px;
  width: 12px;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.8
}

.jp-audio .jp-interface .main-player-rewind:hover {
  opacity: 1
}

.jp-audio .jp-interface .jp-volume-controls {
  width: 17px;
  padding-left: 2px
}

.jp-audio .jp-interface .jp-volume-controls a {
  margin-top: 11px;
  outline: 0;
  display: block;
  width: 17px;
  height: 11px;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 0.8
}

.jp-audio .jp-interface .jp-volume-controls a:hover {
  opacity: 1
}

.jp-audio .jp-interface .jp-volume-controls a.jp-mute,.jp-audio .jp-interface .jp-volume-controls a.jp-unmute {
  text-align: left
}

.jp-audio .jp-interface .jp-volume-controls a.jp-mute img,.jp-audio .jp-interface .jp-volume-controls a.jp-unmute img {
  display: none
}

.jp-audio .jp-interface .jp-volume-controls a.jp-mute svg,.jp-audio .jp-interface .jp-volume-controls a.jp-unmute svg {
  height: 100%
}

.jp-audio .jp-interface .jp-time {
  width: 60px;
  text-align: center;
  line-height: 32px;
  font-size: 14px
}

.jp-audio .jp-interface .jp-progress {
  margin-top: 16px;
  width: 100%;
  height: 3px;
  background: #ccc;
  background: rgba(255,255,255,0.7)
}

.jp-audio .jp-interface .jp-progress .jp-seek-bar {
  width: 100%;
  height: 3px;
  cursor: pointer
}

.jp-audio .jp-interface .jp-progress .jp-play-bar {
  background: #fff;
  height: 3px;
  width: 0%
}

.jp-audio .jp-interface .jp-player-speed {
  width: 34px;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer
}

.jp-audio .jp-interface .jp-player-speed:hover {
  color: #fff
}

.mobile .jp-audio .jp-rewind,.mobile .jp-audio .jp-volume-controls,.mobile .jp-audio .jp-player-speed,.jp-audio.simplecast-player-simple .jp-rewind,.jp-audio.simplecast-player-simple .jp-volume-controls,.jp-audio.simplecast-player-simple .jp-player-speed {
  display: none
}

.site-text-dark .svg path {
  fill: $c-ebony-clay !important
}

.site-text-dark .jp-audio {
  color: $c-ebony-clay;
  color: rgba(0,0,0,0.7)
}

.site-text-dark .jp-audio .jp-interface .jp-progress {
  background: #ccc;
  background: rgba(0,0,0,0.5)
}

.site-text-dark .jp-audio .jp-interface .jp-progress .jp-play-bar {
  background: $c-ebony-clay;
}

.site-text-dark .jp-audio .jp-interface .jp-player-speed:hover {
  color: #111
}

#jplayer_inspector {
  color: #111
}
