@mixin bp($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

$c-white: #f4f7ff;
$c-manatee: #5e738c;
$c-bazaar: #997976;
$c-ebony-clay: #24313F;
$c-polo-blue: #91B6D8;

$c-text: $c-ebony-clay;
$bg-page: $c-manatee;
$bg-description: $c-bazaar;
$bg-episode-title: $c-ebony-clay;
$bg-content: $c-white;

$medium: 40em;
$large: 60em;
$xlarge: 80em;

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "vista-sans", Verdana, sans-serif;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  color: $c-text;
  background-color: $bg-page;

  @include bp($medium) {
    font-size: 18px;
  }

  @include bp($large) {
    font-size: 22px;
  }
}

body {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 4px solid $c-polo-blue;
  transition: color .25s ease-in-out;
  transition: border-bottom-color .25s ease-in-out;

  &:hover,
  &:focus {
    color: #222;
    border-bottom-color: $c-bazaar;
  }

  .podcast-episode-title & {
    border-bottom: 0;

    &:hover,
    &:focus {
      color: currentColor;
    }
  }
}

// Logo
.podcast-title {
  border-bottom: 0;

  img {
    @include bp($large) {
      max-width: 600px;
    }
  }
}

.podcast-header {
  margin-bottom: 2.4rem;
  padding-left: 1.8rem;
  padding-right: 2.8rem;

  > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

// Main container
.podcast-main {
  position: relative;
  margin-top: 4.2rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  background-color: $bg-content;
}

.podcast-description {
  position: relative;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.4rem;
  padding: 2.4rem;
  padding-top: 0;
  color: $c-white;
  background-color: $bg-description;

  &:before {
    content: '';
    position: absolute;
    top: -2.4rem;
    left: 0;
    width: 100%;
    height: 2.4rem;
    background-color: $bg-description;
  }

  p {
    margin: 0;
  }
}

// RSS, Twitter, etc.
.podcast-nav {
  color: $c-white;

  ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
  }

  li + li {
    margin-left: 1em;
  }
}

.podcast-episode {
  position: relative;
  margin-bottom: 4.2rem;
  padding-bottom: 1.8rem;

  header {
    top: -2.4rem;
  }

  &:after {
    position: absolute;
    top: 100%;
    left: -1.8rem;
    height: 4.2rem;
    width: 100vw;
    background-color: $bg-page;
    content: '';
  }

  &-featured {
    &:before {
      position: absolute;
      bottom: 100%;
      left: -1.8rem;
      height: 4.2rem;
      width: 100vw;
      background-color: $bg-page;
      content: '';
    }
  }

  &-image {
    display: none;
  }

  header {
    position: relative;
    left: -1.8rem;
    width: 100%;
    padding: 1.6rem;
    color: $c-white;
    background-color: $bg-episode-title;

    @include bp($medium) {
      left: -6.4vw;
    }
  }

  &-title {
    margin-top: .4em;
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 700;
    font-feature-settings: "smcp" 1;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  &-player {
    // Just for now, though I'll definitely forget to take this out.
    display: none;
  }

  &-description {
    margin-top: -1rem;

    li {
      margin-bottom: .24em;
    }
  }
}

.podcast-episodes {
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.podcast-footer {
  color: $c-white;
  background-color: $c-bazaar;
}
